{% extends 'users/base_users.html' %}
{% block title %}Login | Randall {% endblock %}
  {% block content %}
    <h1 class="mt-4">Login</h1>
    <hr>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username">Username</label>
        <input type="text" class="form-control" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Enter your username" aria-describedby="usernameHelp">
        <small id="usernameHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="id_password">Password</label>
        <input type="password" class="form-control" name="password" autocomplete="current-password" required id="id_password" placeholder="Enter your password">
      </div>
      <input type="submit" class="btn btn-success" value="Login">
    </form>
  {% endblock %}
