{% extends 'randomizers/base_randomizers.html' %}
{% load static %}
{% block link %}<link rel="stylesheet" href="{% static 'randomizers/style.css' %}">{% endblock %}
{% block content %}
<div class="container mt-4" id="sheet">
  <div class="row" id="pageHead">
    <div class="col">Addition</div>
    <div class="col">Subtraction</div>
  </div>
  <div class="row">
    <div class="col col-body col-left"></div>
    <div class="col col-body col-right"></div>
  </div>
  <div class="row">
    <div class="col col-body col-left"></div>
    <div class="col col-body col-right"></div>
  </div>
  <div class="row">
    <div class="col col-body col-left"></div>
    <div class="col col-body col-right"></div>
  </div>
  <div class="row">
    <div class="col col-body col-left"></div>
    <div class="col col-body col-right"></div>
  </div>
  <div class="row">
    <div class="col col-body col-left"></div>
    <div class="col col-body col-right"></div>
  </div>
</div>
<button class="btn btn-primary mt-4" id="randomize">Randomize</button>
<script src="{% static 'randomizers/script.js' %}"></script>
{% endblock %}
