<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Randall{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'master.css' %}">
    {% block link %}{% endblock %}
  </head>
  <body>

    <header class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <a class="navbar-brand" href="/">
        {% block logo %}
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg>
        {% endblock %}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <nav class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'users:index' %}">Users</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'polls:index' %}">Polls</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Filler1</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Filler2</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Filler3</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Filler4</a></li>
        </ul>
      {% if user.is_authenticated %}
        <div class="dropdown">
          <a class="dropdown-toggle navbar-text" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'users:profile' user.username %}">Profile</a>
            <a class="dropdown-item" href="#">Placeholder</a>
            <a class="dropdown-item" href="#">Placeholder</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'users:edit' user.username %}">Settings</a>
            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
          </div>
        </div>
        <a class="navbar-text ml-2" href="{% url 'users:profile' user.username %}">
          {% block picture %}
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          {% endblock %}
        </a>
        {% else %}
        <form class="form-inline" action="{% url 'users:login' %}" method="POST">
          {% csrf_token %}
          <input class="form-control mr-2 my-1" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Username">
          <input class="form-control mr-2 my-1" type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="Password">
          <input class="btn btn-outline-success" type="submit" value="Login">
        </form>
        {% endif %}
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <aside class="d-none d-lg-block col-2 border-right sidebar-left">
          <h4 class="text-center mt-4">Juicy info</h4>
          <hr>
        </aside>

        <main class="col-lg-8 col-12">
          {% block content %}
          {% endblock %}
        </main>

        <aside class="d-none d-lg-block col-2 border-left sidebar-right">
          <h4 class="text-center mt-4">Latest polls</h4>
          <hr>
        </aside>
      </div>
    </div>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
